<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title ">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, corporis inventore excepturi officia, explicabo tempora, maxime illo perferendis placeat est perspiciatis unde. Repellendus incidunt illo eum delectus aperiam excepturi tempora!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>email email.com</li>
                <li>(00) 00000-0000</li>
                <li>(00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
