.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container h1 {
    font-size: 200px;
    color: var(--orange);
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.container h2 {
    font-size: 44px;
    margin-top: 70px;
}